![ine-divider](https://user-images.githubusercontent.com/7065401/92672068-398e8080-f2ee-11ea-82d6-ad53f7feb5c0.png)
<hr>

### Introduction to Data Science with Python — Starter Pass

# Analyzing bank customers with pandas

In this project, you will be using a dataset which contains anonymized bank customer's data to put in practice all the topics you saw on previous lessons.

![bank_customers](https://user-images.githubusercontent.com/7065401/103784823-2af47380-5019-11eb-8054-d766d392d6ff.png)

![orange-divider](https://user-images.githubusercontent.com/7065401/92672455-187a5f80-f2ef-11ea-890c-40be9474f7b7.png)

## Knowing our data

Before starting it's important to load all the libraries we'll be using and understand the data we'll be working on.

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('data/bank_customers.csv')

Take a look at some records of your data, analyze columns and values:

In [ ]:
# your code goes here

![orange-divider](https://user-images.githubusercontent.com/7065401/92672455-187a5f80-f2ef-11ea-890c-40be9474f7b7.png)

## How many customers are within each card category?

In [ ]:
# your code goes here

![orange-divider](https://user-images.githubusercontent.com/7065401/92672455-187a5f80-f2ef-11ea-890c-40be9474f7b7.png)

## Remove from the data all the customers without `Blue` cards

In [ ]:
# your code goes here

![orange-divider](https://user-images.githubusercontent.com/7065401/92672455-187a5f80-f2ef-11ea-890c-40be9474f7b7.png)

## How many customers spent more than 10000 USD?

In [ ]:
# your code goes here

![orange-divider](https://user-images.githubusercontent.com/7065401/92672455-187a5f80-f2ef-11ea-890c-40be9474f7b7.png)

## Analyzing total transactions amount

We have the total amount per customer. Let's get the overall average, minimum and maximum amounts:

In [ ]:
# your code goes here

![orange-divider](https://user-images.githubusercontent.com/7065401/92672455-187a5f80-f2ef-11ea-890c-40be9474f7b7.png)

## Calculating average transaction amount per customer

Now let's calculate and add a new column to our dataset called `Avg_Trans_Amt`. To do that we should apply the following formula:

$$ Avg\_Trans\_Amt = \frac{Total\_Trans\_Amt}{Total\_Trans\_Ct} $$

**Can you calculate it?** Round the resulting values to 2 decimals.

In [ ]:
# your code goes here

![orange-divider](https://user-images.githubusercontent.com/7065401/92672455-187a5f80-f2ef-11ea-890c-40be9474f7b7.png)

## What is the overall average transaction amount?

In [ ]:
# your code goes here

![orange-divider](https://user-images.githubusercontent.com/7065401/92672455-187a5f80-f2ef-11ea-890c-40be9474f7b7.png)

## Replacing Gender values

In the `Gender` column we just have `M` and `F` values. Let's replace them with `Male` and `Female` to better understanding.

> _You can use the `replace()` pandas method to replace certain values._

In [ ]:
df['Gender'].value_counts()

In [ ]:
# your code goes here

![orange-divider](https://user-images.githubusercontent.com/7065401/92672455-187a5f80-f2ef-11ea-890c-40be9474f7b7.png)

## Which is the average transactions count per marital status?

Sort the results in ascending order.

In [ ]:
# your code goes here

![orange-divider](https://user-images.githubusercontent.com/7065401/92672455-187a5f80-f2ef-11ea-890c-40be9474f7b7.png)

## Which is the average transactions amount per education level?

Sort the results in descending order.

In [ ]:
# your code goes here

![orange-divider](https://user-images.githubusercontent.com/7065401/92672455-187a5f80-f2ef-11ea-890c-40be9474f7b7.png)